.parent-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  place-items: center;
}

.form__container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.form__input {
  width: 80vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid #c9184a;
  outline: none;
}
.form__btn {
  margin-top: 2rem;
  width: 30%;
  padding: 1rem 0.5rem;
  outline: none;
  border: none;
  background-color: #c9184a;
  color: #fff;
  border-radius: 30px;
  font-size: 1.1rem;
}
.addLinks__container {
  margin-top: 2rem;
}
/* Responsiveness */
@media only screen and (max-width: 600px) {
  .form__container {
    width: 90vw;
    padding: 2rem;
  }
  .form__input {
    width: 90%;
  }
  .form__btn {
    padding: 0.5rem 1rem;
    width: 90%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .form__container {
    width: 90vw;
    padding: 2rem;
  }
  .form__input {
    width: 90%;
  }
  .form__btn {
    padding: 0.5rem 1rem;
    width: 90%;
  }
}
