/* PROFILE */
.profile{
  border-radius: 1rem;
  background-color: white;
  margin: 3% 8%;
  padding: 3%;
  display: flex;
  justify-content: space-between;
  column-gap: 5%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile_img{
  border-radius: 1rem;
  width: 20%;
}
.profile_content{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.left{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.left > h1{
  color: #e83151;
  font-size: 1.8rem;
}
.left > h2{
  color: #222;
  font-size: 2.5rem;
}
.badge{
  list-style: none;
  display: flex;
  column-gap: 2rem;
}
.badge li{
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-size: 1.1rem;
  color: #222;
}
.badge li svg{
  color: #e83151;
}
.skills{
  display: flex;
  list-style: none;
  column-gap: 2rem;
  margin-top: 1.5vw;
}
.skills > li{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}
.skills aside{
  background-color: #e83151;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
.skills p{
  color: #db0025;
}
.right{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-top{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
}
.right-top > p:first-child{
  font-size: 2rem;
}
.right-top > p:last-child{
  font-size: 1.2rem;
}
.right-bottom{
  display: flex;
  flex-direction: row-reverse;
}
.right-bottom > button{
  background-color: antiquewhite;
  color: #e83151;
  font-size: 1.5rem;
  padding: 10% 15%;
  font-family: "Outfit", sans-serif;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: .4s;
}
.right-bottom > button:hover{
  background-color: #e83151;
  color: white;
}
/* ABOUT FREELANCER */
.about-freelancer{
  display: flex;
  column-gap: 5%;
  margin: 0 8%;
  margin-bottom: 3%;
}
.about-left{
  width: 70%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.about-left > aside{
  background-color: #bbb;
  padding: 5%;
  color: white;
  font-size: 3rem;
  text-align: center;
}
.about-top{
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  padding: 4%;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-top > .left-desc{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.about-top h1{
  font-size: 1.5rem;
  color: #222;
}
.about-top h2{
  font-size: 1.8rem;
  color: #e83151;
  font-style: italic;
  text-align: center;
  margin: 2% 0;
}
.about-top p{
  font-size: 1.1rem;
  line-height: 2.5;
  color: #222;
}
.about-freelancer > article:last-child{
  width: 30%;
  border-radius: 1rem;
  background-color: white;
  padding: 3%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.left-pd{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.left-pd > h1{
  font-size: 1.4rem;
  padding-bottom: 1rem;
}
.left-pd > h1 > span{
  color: #e83151;
}
.left-pd > blockquote{
  font-size: 1.5rem;
  color: #e83151;
  font-style: italic;
  text-align: right;
}
.about-right{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.about-right > hr{
  width: 100%;
  height: .1rem;
  background-color: #eee;
  border: #eee;
  margin: 5% 0;
}
.right-po{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.right-po > h1{
  font-size: 1.4rem;
}
.right-po > ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 1.5rem;
}
.right-po > ul img{
  border-radius: .2rem;
}
.right-rv{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.right-rv > h1{
  font-size: 1.4rem;
}
.right-rv > ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.right-rv > ul > li{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.right-rv li:nth-child(even) > p,
.right-rv li:nth-child(even) h1{
  text-align: right;
}
.right-rv div{
  display: flex;
  column-gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
.right-rv li:nth-child(even) > div{
  flex-direction: row-reverse;
}
.right-rv div h1{
  width: 60%;
}
.right-rv div aside{
  width: 40%;
  height: 0.2rem;
  background-color: #e83151;
}
.right-rv > ul h1{
  color: #222;
}
.right-rv > ul p{
  font-size: .95rem;
  color: #222;
}
/* PACKAGES */
.packages{
  border-radius: 1rem;
  margin: 3% 8%;
  padding: 0 2% 2% 2%;
  /* background-color: white; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.packages ul{
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 4rem;
}
.packages li{
  width: 33%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 5% 3%;
  border-radius: 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.packages li h1{
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
.packages li h2{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.packages li p{
  font-size: 1.1rem;
}
.packages li button{
  background-color: transparent;
  padding: 5% 4%;
  border-radius: 0.3rem;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}
.packages li:nth-child(1),
.packages li:nth-child(1) button{
  background-color: antiquewhite;
  color: #e83151;
}
.packages li:nth-child(1) button{
  border: 2px #e83151 solid;
}
.packages li:nth-child(1) button:hover{
  background-color: #e83151;
  color: antiquewhite;
}
.packages li:nth-child(2),
.packages li:nth-child(2) button{
  background-color: #e83151;
  color: white;
}
.packages li:nth-child(2) button{
  border: 2px white solid;
}
.packages li:nth-child(2) button:hover{
  background-color: white;
  color: #e83151;
}
.packages li:nth-child(3),
.packages li:nth-child(3) button{
  background-color: #222;
  color: white;
}
.packages li:nth-child(3) button{
  border: 2px white solid;
}
.packages li:nth-child(3) button:hover{
  background-color: white;
  color: #222;
}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 808px) {
  .profile_content{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .profile_content .left{
    row-gap: 0.5rem;
  }
  .left h1{
    font-size: 1rem;
  }
  .left h2{
    font-size: 1.5rem;
  }
  .left ul{
    flex-wrap: wrap;
  }
  .skills{
    row-gap: 0.5rem;
  }
  .skills li{
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
  .skills li aside{
    width: 2em;
    height: 2em;
    font-size: 1rem;
  }
  .right{
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .right-top{
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .right-top p:first-child{
    font-size: 1.5rem;
  }
  .right-top p:last-child{
    font-size: 1rem;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  .profile, 
  .about-freelancer, 
  .packages{
    margin: 5%;
  }
  .about-freelancer{
    column-gap: 3%;
    row-gap: 3%;
  }
  .about-left,
  .about-freelancer > article:last-child{
    width: 100%;
  }
  .about-top{
    padding: 7%;
  }
  .about-freelancer > article:last-child{
    margin-top: 5%;
    padding: 7%;
  }
  .about-left aside{
    display: none;
  }
  .right-po ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
  }
  .right-rv ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .right-rv li{
    width: 48%;
  }
  .right-rv li aside{
    width: 20%;
  }
  .right-rv li h1{
    width: 80%;
  }
  .packages ul{
    column-gap: 2rem;
  }
  .about-freelancer{
    flex-wrap: wrap;
  }
  .packages ul{
    column-gap: 2em;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
    flex-wrap: wrap;
  }
  .packages li{
    row-gap: 1rem;
    padding: 5% 3%;
    width: 20rem;
  }
  .packages li p{
    padding: 2% 10%;
  }
  .packages li button{
    padding: 3%;
  }
}
@media only screen and (max-width: 480px){
  .profile, 
  .about-freelancer, 
  .packages{
    margin: 5%;
  }
  .profile{
    flex-direction: column;
    row-gap: 2rem;
    padding: 5% 2%;
  }
  .profile_content{
    width: 90%;
  }
  .badge{
    row-gap: 0.5rem;
  }
  .left-desc > h2{
    font-size: 1.5rem;
  }
  .about-freelancer{
    column-gap: 3%;
    row-gap: 3%;
  }
  .about-left,
  .about-freelancer > article:last-child{
    width: 100%;
  }
  .about-top{
    padding: 7%;
  }
  .about-freelancer > article:last-child{
    margin-top: 5%;
    padding: 7%;
  }
  .about-left aside{
    display: none;
  }
  .right-po ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
  }
  .right-rv ul{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .right-rv li{
    width: 90%;
  }
  .right-rv li aside{
    width: 50%;
  }
  .right-rv li h1{
    width: 50%;
  }
  .packages ul{
    column-gap: 2rem;
  }
  .about-freelancer{
    flex-wrap: wrap;
  }
  .packages ul{
    column-gap: 2em;
    align-items: center;
    justify-content: center;
    row-gap: 2em;
    flex-wrap: wrap;
  }
  .packages li{
    row-gap: 1rem;
    padding: 5% 3%;
    width: 20rem;
  }
  .packages li p{
    padding: 2% 10%;
  }
  .packages li button{
    padding: 3%;
  }
}