.freelancerDetails__container {
  padding: 2rem 5.5rem;
  position: relative;
}
.freelancerDetails__topDtls {
  display: flex;
  background-color: #fff;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  border-radius: 20px;
  border-bottom: 5px solid #c9184a;
}
.freelancerDetails__profileImg {
  position: relative;
  width: 200px;
  height: 200px;
}
.freelancer_img {
  border-radius: 20px;
}
.freelancer__details > h2 {
  color: #c9184a;
}
.freelancer__details > h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
.freelancer__details > p:nth-of-type(1) {
  font-size: 1.1rem;
  background-color: #c9184a;
  border-radius: 10px;
  padding: 0.5rem;
  color: #fff;
  width: fit-content;
}
.freelancer__loc {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}
.freelancer__aboutContainer {
  display: flex;
  margin-top: 2rem;
}
.freelancer__about,
.freelancer__aside {
  background-color: #fff;
  border-radius: 20px;
}
.freelancer__aside {
  width: 30%;
  margin-left: 2rem;
  padding: 2rem;
}
.freelancer__about {
  flex: 1;
  padding: 2rem;
}
.freelancer__about > p {
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
}
.freelancer__icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #c9184a;
}
.freelancer__btnContainer > p {
  font-size: 1.3rem;
}
.freelancer__btn {
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 2rem;
  width: 100%;
  color: #fff;
  background-color: #c9184a;
}
