.background_img {
    position: relative;
    width: 100%;
    filter: blur(4px);
  -webkit-filter: blur(2.5px)
  }
  @media only screen and (max-width: 600px){
    .background_img{
        width: 200px;
    
    }

}