.freelancers__container {
  display: flex;
  padding: 2rem 4rem;
  margin-top: 4rem;
}
.freelancers__sidebar {
  background-color: #fff;
  width: 25%;
}
.freelancers__main {
  flex: 1;
  overflow: auto;
}
.freelancer__layout {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.freelancer__layout--item {
  flex-basis: 28%;
  background-color: #fff;
  margin: 1rem;
  padding: 1rem 1.5rem 0rem;
}
.freelancer__skills {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.freelancer__profileImg--wrapper {
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}
.freelancer__profileImg {
  border-radius: 50%;
}
