.headerBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../public/images/CFBanner2.png");
  height: 30vh;
}
.headerBanner > h2 {
  padding: 4rem;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
}
