.title_container{
    display: flex;
    text-align: center;
    gap: -2rem;
    position: relative;
    margin-left: 490px;
    top: 99px;
}
.container{
    background-color: antiquewhite;
    width: 100%;
    height: 200vh;

}
.header-image__container {
    position: relative;
  }
.title_container .tab_links{
    text-align: center;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    bottom: 17rem;
    right:3rem;
  
    
}
.content_container{
    display: block;
    text-align: center;
    position: relative;
    top:150px;
    background-color: antiquewhite;
}
.content_container h1{
    font-size: 50px;
    position: relative;
    bottom: 10rem;
    right: 297px;
    color: #c9184a;
}
.content_container .first_paragraph{
    position: relative;
    bottom: 8rem;
    font-size: 22px;
    right:4.5cm;
}
.tab_links{
    background-color:none;
    padding: 14px;
    color: white;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    height: 8vh;
    width: 300px;
    font-weight: bold;

    
  
}
.tab_links::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color:rgb(204, 91, 91);
    transition: all 1s;
    z-index:0;
    transform: translateX(-100%);
    opacity: 0.3;
    filter: brightness(-10);
    
    
}
.tab_links:hover::before{
    transform: translateX(0);
   
} 
.tab_links:hover{
    color: #c9184a;
    font-weight: bold;

}
.image_wrapper{
    gap:25.5rem;
    display: flex;
    position: relative;
   margin-left: 180px;
   bottom: 5rem;
   
}
.text_wrapper{
    gap:20rem;
    display: flex;
    position: relative;
    margin-left: 450px;
    top:6.3rem;
   

}
.text_wrapper h1{
    font-size: 17px;
    text-align: center;
    color: black;
}
.paragraph_wrapper{
    column-gap:2.2cm;
    display: flex;
    position: relative;
   margin-left: 7rem;
   right: 3rem;


}
.paragraph_wrapper p{
    font-size: 20px;
    margin-right: 100px;
    display: inline-block;
    text-align: center;
}
.second_section{
    position: relative;
    display: flex;
    background-color: #c9184a;
    width: 100%;
    top:7rem;
    height: 135vh;   
}
.COL_1{
    width: 50%;
    gap: 40px;
    display: inline;
}
.COL_1 h1{
    font-size: 45px;
    left:1%;
    position: relative;
    top:100px;
    color: #fff;
}
.services_num {
    border-radius: 50%;
    background: black;
    width: 25px;
    height: 25px;
    padding: 0.4rem;
    color: #fff;
    font-weight: 700;
    position: relative;
    top: 160px;
    right: 6cm;
  }
  .COL_1 h2{
    font-size: 23px;
    margin-right: 9rem;
    position: relative;
    top:8.1rem;
    color: #fff;
}
.COL_1 .heading-2{
    position: relative;
    left:4.5rem;
}
.COL_1 .heading-3{
    position: relative;
    left:0.5rem
}
.COL_1 p{
    font-size: 16px;
    position: relative;
    top:150px;
    margin-right: 300px;
    display: block;
    color: #fff;
    left: 138px;

    
} 
.button{
    position: relative;
    top:15rem;
    width: 170px;
    height: 7vh;
    font-size: 20px;
    right: 150px;
    background-color: black;
    color: #fff;
    border-radius: 30px;
    font-weight: 300;
}
.button:hover{
     background-color: #fff;
     color: black;
     border: none;
     transition: 1s;
}
.image_container{
    position: relative;
    top:10.8rem;
    left: 10rem;
}

/* Freelancer section */

.column-1{
    width: 50%;
    display: flex;
    

}
.column-2{
    width: 50%;
    position: relative;
    bottom: 8rem;
    
}
.employeer_first_section{
    display:flex;
    position: relative;
    top: 7rem;
    gap: 10rem;
    
    
  
    
    
    
}
.image_box{
    position: relative;
    top:14rem;
    right: 10rem;
}
.image_box_1{
    position: relative;
    transform: scale(-1, -1);
    bottom:40.2rem;
    left: 5rem;
}
.column-2 h1{
    position: relative;
    margin-left: 17.8rem;
    font-size: 40px;
}
.services_number{
    position: relative;
    bottom: 8rem;
    right: 19rem;
    border-radius: 50%;
    background: black;
    width: 25px;
    height: 25px;
    padding: 0.4rem;
    color: #fff;
    font-weight: 700;
}
.column-2 h2{
    position: relative;
    bottom: 10rem;
    right: 7.8rem;
}
.first_heading{
    position: relative;
    margin-left:4.8rem;
}
.column-2 p{
    font-size: 16px;
    position: relative;
    margin-right: 300px;
    display: inline-block;
    left: 1rem;
    bottom: 9rem;
    line-height: 20px;
}
.button_freelancer{
    background-color:#c9184a;
    color: #fff;
    font-weight: 300;
  position: relative;
   width: 170px;
   height: 7vh;
  font-size: 20px;
  bottom: 4.6rem;
  right: 14.4rem;
  border: none;
  transition: 0.2s;
}
.button_freelancer:hover{
    background-color: black;
    color:#fff;
}
.free_section {
    display: flex;
    

}
.sec_1{
    width: 50%;
    
    
}
.sec_1 h1{
    font-size: 70px;
    position: relative; 
    left: 6rem;
    color: rgb(235, 230, 230);
      
}
.sec_1 p{
    font-size: 22px;
    position: relative;
    display: initial;
    white-space: pre;
    color: rgb(235, 230, 230);
    
    
    
}
.wrapper{
    position: relative;
    top:14rem;
    display: flex;
    gap: 16rem;
    left: 10rem;
    
}
.head_wrapper{
    position: relative;
    top:10rem;
    display: flex;
    gap: 14rem;
    left: 3rem;
}
.head_wrapper h1{
    font-size: 25px;
    color:rgb(235, 230, 230);
}
.sub-text_wrapper{
    position: relative;
    top:18rem;
    left:10rem;
    display: flex;
    gap:16.2rem;
}
.sub-text_wrapper h1{
    font-size: 16px;
    font-weight: lighter;
    white-space: nowrap;
}
.image_field{
    position: relative;
    left:120%;
   
}
.footer{
    position: relative;
    top:7rem;
}
.initial_content p{
      font-size: 50px;
      text-align: center;
      position: relative;
      top:1.4rem;
      font-weight: 600;
}
.button_cta{
    position: relative;
    
    width: 170px;
    height: 7vh;
    font-size: 20px;
    left: 42.3rem;
    background-color: black;
    color: #fff;
    font-weight: 300; 
    top:8rem;
}
.button_cta:hover{
   
    background-color:#c9184a;
    color: black;
    
} 
.second_head_wrapper{
   position: relative;
   display: flex;
   top:14rem;
    gap: 10rem;
    
}
.second_head_wrapper h1{
    font-size: 25px;
    color: rgb(235, 230, 230);
}