.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    position: relative;
   
}
.fieldset_container{
    height: 75vh;
    width:480px;
    position: relative;
    left: 559px;
    top: 0.3rem;
    border-radius: 15px;
    background-color:transparent;
    border:none;
}
.login_container h1{
    position: relative;
    top:30px;
    font-size: 40px;
    font-weight:lighter;
    color: #333; 
    text-align: center;

}
.login_container p{
    position: relative;
    top:5rem;
    left: 6.4rem;
    font-weight: 50;
    

}
.form_container{
    font-weight: none;
    position:relative;
    text-align: center;
    top:58px;
    
}
.email_input{
    position: relative;
    top: 4rem;
    width: 370px;
    height: 5.2vh;
    border-radius: 4px;
    text-align: left;
    padding: 20px;
   
   
}
.email_input::placeholder{
     position: relative;
     
}

.password_input{
    position: relative;
    top: 5rem;
    width: 370px;
    height: 5.2vh;
    border-radius: 4px;
    text-align: left;
    padding: 20px;
    
   
}
.link_container{
    position: relative;
    font-size: 14px;
    top: 5rem;
    color: black;
 
}
.link_container:hover{
    color: blue;
}
.log-in_button{
    position: relative;
    top: 8rem;
    width: 370px;
    height: 5.2vh;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    background-color: #e83151;
    border: none;
    font-weight: bolder;
    font-size: 15px;
}
.log-in_button:hover{
    background-color: black;
    transition: 0.5s;
    color: #fff;
}
.Logo_container{
    position: relative;
    left: 37rem;
}
.icon_container{
    position: relative;
    top:2rem;
    left:10.5rem ;
    
}
.lock_container{
    position: relative;
    top:3rem;
    left: 10.5rem;

}