.login__container {
  display: grid;
  place-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.login__body {
  background-color: #fff;
  height: 60vh;
  width: 50vw;
  border-radius: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.login__heading {
  text-align: center;
  margin-top: 3rem;
}
.login__heading > p {
  padding-top: 1rem;
  font-size: 1.1rem;
}
.form__container {
  display: grid;
  place-items: center;
  padding: 2rem;
}

.login_container h1 {
  position: relative;
  top: 30px;
  font-size: 40px;
  font-weight: lighter;
  color: #333;
  text-align: center;
}
.login_container p {
  position: relative;
  top: 5rem;
  left: 6.4rem;
  font-weight: 50;
}
.form__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.form__input {
  width: 70%;
  padding: 0.5rem;
  font-size: 1.1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: antiquewhite;
}
.form__btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #c9184a;
  width: 50%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
}
/* Responsiveness */
@media screen and (max-width: 600px) {
  .login__body {
    height: 70vh;
    width: 80vw;
  }
  .form__input {
    width: 90%;
  }
}
