.reviewContainer {
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 20px;
}
.reviewContainer > h2 {
  padding-bottom: 2rem;
}
.review__items {
  list-style-type: none;
}
.review__items > li {
  border: 1px solid #f7f7f7;
  margin-bottom: 1rem;
  border-radius: 20px;
  padding: 1rem;
}
.review__detail--user {
  display: flex;
  gap: 1rem;
  position: relative;
}
.review__detail--user > h3 {
  position: absolute;
  bottom: 0.3rem;
  left: 2.5rem;
}
.review__detail--icon {
  font-size: 2rem;
  color: #e83151;
}
