.section_container{
    height: 8cm;
   
}

.fieldset_container{
    height: 85vh;
    width:610px;
    position: relative;
    left: 480px;
    bottom:70rem;
    border-radius: 14px;
    background-color:none;
     border:3.2px solid rgb(153, 18, 18);
}
.nav_container {
   display: flex;
   height: 15vh;
   background-color: white;
   position: relative;
   gap: 38rem;  
}
.image_container{
    position: relative;
    left: 8rem;
    top: 2.6rem;
}
.image_field{
    position: absolute;
    top: 13.4rem;
    left: 7rem;
    
}
.image_field_apple{
    position: absolute;
    top: 15.9rem;
    left: 7rem;
    
}
.menu_list--option{
    display: flex;
    gap: 30rem;
    list-style: none;
    position: relative;
  }
  .menu_list--option > li {
    font-size: 1.1rem;
  }
  .menu_list--option > li :hover {
      color: #e83151;
  }
  .job_links{
    color: black;
    font-size: 17px;
    position: relative;
    top: 50px;
}
.background-image__container {
    position: relative;
    height: 10vh;
   
  }
.signup_container h1{
    position: relative;
    font-size: 47px;
    font-weight:bold;
    color:rgb(228, 43, 43);
    text-align: center;
    top:30px;

}
.google_button{
    display: block;
    text-align: center;
    position: relative;
    top: 40px;
    left:150px;
    width: 50%;
    height: 4vh;
    border-radius: 20px;
    background-color:#333;
    padding: 5px;
    font-weight: bold;
    border: none;
    color:#fff;
    cursor:pointer;
    font-size: 11px;

}

.apple_button{
    display: block;
    text-align: center;
    position: relative;
    top: 50px;
    left:150px;
    width: 50%;
    height: 4vh;
    border-radius: 20px;
    background-color:#fff;
    padding: 5px;
    font-weight: bold;
    border: none;
    color:rgb(14, 13, 13);
    border: 1px solid #333;
    cursor: pointer;
    font-size: 12px;

}
.form_container h1{
    font-size: 12px;
    position: relative;
    top: 74px;
    color: #333;
}
.firstname_input{
    width: 35%;
    height: 5vh;
    border-radius: 40px;
    text-align: left ;
    border: 2px solid rgb(189, 186, 186);
    color: #333;
    padding: 10px;
    font-size: 15px;
    position: relative;
    top:90px;
    left:80px;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgb(189, 186, 186);
    outline: none;
    accent-color: black;
}
.lastname_input{
    width: 35%;
    height: 5vh;
    border-radius: 40px;
    text-align: left ;
    border: 2px solid rgb(189, 186, 186);
    color: black;
    padding: 10px;
    font-size: 15px;
    position: relative;
    top:90px;
    left:98px;
    box-shadow: 0px 2px 2px rgb(189, 186, 186);
    font-weight: bold;
    outline: none;
}
.email_input{
    width: 73%;
    height: 5vh;
    border-radius: 40px;
    text-align: left ;
    border: 2px solid rgb(189, 186, 186);
    color: black;
    padding: 10px;
    font-size: 15px;
    position:relative;
    top:103px;
    left:79px;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgb(189, 186, 186);
    outline: none;

}
.password_input{
    width: 73%;
    height: 5vh;
    border-radius: 40px;
    text-align: left ;
    border: 2px solid rgb(189, 186, 186);
    color: black;
    padding: 10px;
    font-size: 15px;
    position:relative;
    top:116px;
    left:79px;
    box-shadow: 0px 2px 2px rgb(189, 186, 186);
    font-weight: bold;
    outline: none;
}
.check1{
    position: relative;
    top:86px;
    left: 80px;
    accent-color:#e83151;
    border: 0;
    width: 16px;
    height: 10em;
    
}
.check-2{
    position: relative;
    bottom: 35px;
    left: 80px;
    accent-color:#e83151;
    border: 0;
    width: 16px;
    height: 10em;
    transition: 0.5s;
    
}
.fieldset_container p{
    position: relative;
    top: 10px;
    font-size: 11px;
    left: 100px;
    font-weight: 600;
}
.fieldset_container span{
    position: relative;
    bottom: 113px;
    font-size: 11px;
    left: 99px;
    font-weight: 600;
    margin-right:90px;
    display: block;
}
.signup_button{
    display: block;
    text-align: center;
    position: relative;
    bottom: 60px;
    left:150px;
    width: 50%;
    height: 4vh;
    border-radius: 20px;
    background-color:#333;
    padding: 5px;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor:pointer;
    font-size: 12px;

}
.signup_button:hover{
    background-color: #e83151;
    transition: 0.5s;
}
.footer{
    background-color: #e83151;
    height:22vh;
    margin-top: 50px;
    text-align: center;
    padding: 25px 0;
    font-weight: 400;
    font-size: 18px;
}
.footer p{
    position: relative;
    top:30px;
     margin-left: 60px;
}